/*  
 *  This CSS file was made by MateusDev 
 *  and is distributed under X11 (MIT) License
 */

:root{
	--dark: #283739;
	--text: #E0E0E0;
	--accent2: #2C5D63;
	--accent1: #A2C11C;
}

@font-face{
	font-family: std;
	src: url("fonts/Lato-Regular.ttf")
}

/*Navigation Menu :)*/
nav{
	display: flex;
	flex-direction: row;
	background-color: var(--accent1);
	justify-content: center;
	margin: auto;
	width: 95vw;
	height: 7vh;
}
nav img{
	height: 6vh;
	width: 6vh;
}
nav a{
	color: var(--text);
	font-weight: bold;
	text-decoration: none;
	transition: 0.125s all;
}
nav a:hover{
	color: var(--accent2);
	text-decoration: underline;
}
nav *{
	margin: auto;
}

.container{
	display: flex;
	flex-direction: column;
	width: 80vw;
	background-color: var(--text);
	color: var(--dark);
	padding: 0.5vw;
	margin: auto;
}

body{
	background-color: var(--dark);
	color: var(--text);
	font-family: std;
	text-align: center;
	font-size: 120%;
}
h1{
	color: var(--accent1);
}
h2{
	color: var(--accent2)
}

button, input, select{
	border: 0.3vw solid var(--accent2);
	padding: 0.25vw;
	font-size: 100%;
	width: 12vw;
	height: 6vh;
	text-align: center;
	font-weight: bolder;
	background-color: var(--accent2);
	color: var(--text);
	transition: 0.125s all;
}
button:hover, input:hover, select:hover{
	cursor: pointer;
	border-color: var(--text);
}
button:focus, input:focus, select:focus{
	outline: none;
	border-color: var(--accent1);
}
option{
	font-family: std;
	font-weight: bolder;
	text-align: center;
}
input::placeholder{
	color: var(--accent1);
	text-align: center;
}
input{
	width: 12vw;
	height: 4vh;
}
error, success{
	display: block;
	width: 60vw;
	background-color: var(--accent1);
	padding: 0.2vw;
	text-align: center;
	margin: auto;
}
success{
	background-color: var(--accent2);
}
table{
	border: 0.5vw solid var(--text);
	margin: auto;
	width: 90vw;
	height: auto;
}
td{
	margin: 0;
	padding: 0.25vw;
	border-bottom: 0.125vw solid var(--text);
	text-align: center;
}
a{
	color: var(--accent1);
}
tr:hover{
	cursor: pointer;
	background-color: var(--accent2);
}
.etd *{
	border-bottom: 0;
}
.login{
	border: 0.2vw solid var(--text);
	width: 50vw;
	height: 50vh;
	height: auto;
	display: flex;
	text-align: center;
	flex-direction: column;
	align-self: center;
	margin: auto;
	padding: 2vw;
}
.login *{
	width: 85%;
	margin: auto;
	margin-top: 0.55vh;
	margin-bottom: 0.55vh;
}
code{
	background-color: var(--text);
	color: var(--dark);
	text-align: left;
	width: 50vw;
}
@media only screen and (max-width: 900px){
	nav{
		display: flex;
		width: auto;
		height: auto;
		flex-direction: column;
		margin-bottom: 5vh;
	}
	nav a{
		margin: 2vh;
	}
	input, button, select{
		border-width: 1.25vw;
	}
	button{
		width: 80vw;
	}
	.login{
		border-width: 2vw;
		width: 71vw;
	}
}
