:root{
	--primary: gray;
	--secondary: white;
}

@font-face{
	src: url(Roboto-Regular.ttf);
	font-family: std
}

body{
	background-color: black;
	color: white
}

body *{
	font-family: std;
}

nav{
	display: flex;
	flex-direction: row;
	margin:auto;
	background-color: var(--primary);
	padding: 1vw;
}

h1, h2, h3 {
	text-align: center;
}

h3 {
	font-size: 150%
}

lessons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	border: 0.125vw dashed white;
	padding-top: 2vh;
	padding-bottom: 2vh;
}
weekd{
	display: flex;
	flex-direction: column;
	padding: 0.25vw;
	width: 17.5vw;
	margin: auto;
	border: solid white 0.125vw;
}

weekd p{
	font-weight: bolder;
	font-style: italic;
	font-size: 140%;
	padding-bottom: 0.25vw;
	border-bottom: 0.125vw white solid;
}

lesson{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 90%;
	margin: auto;
	border: solid white 0.155vw;
	border-radius: 0.5vw;
}

lesson *{
	font-size: 120%;
	margin: auto;
}

lesson strong{
	border-bottom: solid white 0.125vw
}

italic{
	font-style: italic;
	text-decoration: underline;
}

lesson p{
	font-style: normal;
	font-weight: 500;
	font-size: 100%;
	border: none;
}
nav{
	width: 96vw;
}
nav a{
	margin: auto;
	color: var(--secondary);
	text-decoration: none;
	font-size: 110%;
}
nav a:hover{
	color: blue;
	text-decoration: underline;
	text-decoration-thickness: .5vw;
}

db_row{
	display: flex;
	flex-direction: row;
	border: white 0.125vw double;
	padding: 0.5vw;
	font-size: 120%;
}
db_row p{
	width: 25vw;
	margin: auto;
	text-align: center;
}

.login{
	display: flex;
	flex-direction: column;
	border: 0.25vw dashed white;
	padding: 1vw;
	width: 60vw;
	height: 50vh;
	margin: auto;
	align-items:center;
	justify-content: center;
	justify-self: center;
}
.login input, .login button{
	width: 60%;
	padding: 0.3vw;
	font-size: 100%;
	border-color: white;
	color: white;
	background-color: black;
}
.login button{
	width: 61.2%;
}
.login input::placeholder{
	color: white;
}
.login h1{
	margin-top:0;
}

.current_lesson{
	background-color: white;
	color: black;
}

@media only screen and (max-width: 700px){
	lessons{
		flex-direction: column;
	}
	weekd{
		width: 80%;
		margin: auto;
		padding-bottom: 5vh;
	}
	weekd p{
		text-align: center;
	}
}
